.wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    background-color: #1942f5;
    background-image: url('../../assets/images/logo9.png');
    background-repeat: space;
    background-size: 40px;
    background-blend-mode: hue;
}
.wrapper-form{
    padding: 40px;
    width: 90%;
    max-width: 400px;
    margin-top: 10%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  3px 3px 10px #bebebe,
                -3px -3px 10px #ffffff;
}
.title{
    margin-bottom: 30px;
}

.label-name{
    margin-bottom: 15px;
    color: #635f5f;
}
.form-input, .submit {
    border: 0;
    outline: 0;
    font-size: 14px;
    border-radius: 25px;
    padding: 10px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 white;
}

.form-input {
    margin-bottom: 30px;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px white;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.form-input:focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
}

.submit{
    width: 100%;
    box-shadow: -5px -5px 20px white, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    color: #AE1100;
    text-transform: uppercase;
}

.submit:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px white;
  }